body {
margin: 0;  
text-align: center;
background-color: GhostWhite;
color: #212121;
font-family: 'Open Sans', sans-serif;
background-image: url(https://s3.amazonaws.com/StartupStockPhotos/uploads/39.jpg);
background-size: cover;
}
/*CHANGE THE COLOR OF YOUR h1 THRU CSS*/
/*CHANGE THE FONT STACK from cssfontstacks.com OF YOUR h1 THRU CSS*/
h1 {
color: #F00;
font-family: 'Lobster', cursive;
font-size: 48px;
}

nav {
  position: absolute;
  top: 50px;
  right: 300px;
}

nav a{
  color: #FFF;
  text-decoration: none;
  background-color: rgba(255, 0, 0, 0.64);
  border-radius: 3px;
  padding: 5px;
  margin: 10px;
}

nav a:visited{
  color: #FFF;
}

section {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea542e+0,ff1c1c+52,ea542e+100&amp;0+0,1+50,1+100,0+100 */
background: -moz-linear-gradient(left,  rgba(234,84,46,0) 0%, rgba(254,30,29,1) 50%, rgba(255,28,28,0.96) 52%, rgba(234,84,46,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(234,84,46,0)), color-stop(50%,rgba(254,30,29,1)), color-stop(52%,rgba(255,28,28,0.96)), color-stop(100%,rgba(234,84,46,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(234,84,46,0) 0%,rgba(254,30,29,1) 50%,rgba(255,28,28,0.96) 52%,rgba(234,84,46,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(234,84,46,0) 0%,rgba(254,30,29,1) 50%,rgba(255,28,28,0.96) 52%,rgba(234,84,46,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(234,84,46,0) 0%,rgba(254,30,29,1) 50%,rgba(255,28,28,0.96) 52%,rgba(234,84,46,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(234,84,46,0) 0%,rgba(254,30,29,1) 50%,rgba(255,28,28,0.96) 52%,rgba(234,84,46,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ea542e', endColorstr='#00ea542e',GradientType=1 ); /* IE6-9 */

  height: 250px;
  width: 100%;
}

section a{
  color: #FFF;
  border: 1px solid #fff;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

section {
  position: relative;
}

section a {
  width: 300px;
  height: 25px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -32px 0 0 -170px;
}

div {
  height: 350px;
}

video{
  width: 100%;
}



