body {
text-align: center;
background-color: GhostWhite;
color: #212121;
font-family: 'Open Sans', sans-serif;
background-image: url(https://s3.amazonaws.com/StartupStockPhotos/uploads/39.jpg);
background-size: cover;
}
/*CHANGE THE COLOR OF YOUR h1 THRU CSS*/
/*CHANGE THE FONT STACK from cssfontstacks.com OF YOUR h1 THRU CSS*/
h1 {
color: #F00;
font-family: 'Lobster', cursive;
font-size: 48px;
}

nav {
  position: absolute;
  top: 50px;
  right: 300px;
}

nav a{
  color: #FFF;
  text-decoration: none;
  background-color: rgba(255, 0, 0, 0.64);
  border-radius: 3px;
  padding: 5px;
  margin: 10px;
}

nav a:visited{
  color: #FFF;
}

section {
  background-color: red;
}
